body,
ul,
img,
a {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  color:#676767;
}

h2 {
  font-size: 2.312em;
  font-weight: bold;
}

p,
a {
  font-size: 0.875em;
}

.container,
.jumbotron .container {
  max-width: 60%;
}

.thumbnail {
  background-color: transparent;
  border: none;
  margin: 0;
}

.thumbnail-icon {
  padding: 0 10px;
}

.btn {
  color: #fff;
  font-family: 'Lato-Light';
  font-size: 1em;
  font-weight: bold;
  border-bottom: 3px solid #6b2e68;
  background-color: #9f449b;
  padding: 12px 40px;
  opacity: 0.95;
}

.container {
  padding: 0;
}

.hexagon {
  width: 100%;
  height: auto;
  padding: 25% 0;
  margin: auto;
}

.brand {
  color:#9f449b;
}

.icon {
  height: 40px;
  margin-right: auto;
  margin-left: auto;
}

#features,
#about,
#team,
#quate,
#services,
#contact {
  padding: 8% 0;
}

#statistics,
#testimonials {
  padding-top: 7%;
}

.sticky {
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 1000;
  width: 100%;
  margin-bottom: 20%;
}

.navbar-default .navbar-nav>li.activated>a:focus,
.navbar-default .navbar-nav>li.activated>a:hover,
.navbar-default .navbar-nav>li.activated>a {
  color: #9f449b;
  background-color: transparent;
}

/* Corners for headers */
.corner {
  position: relative;
}

.corner::before {
  content: '';
  border-bottom: 2px solid #9f449b;
  border-left: 2px solid #9f449b;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 45px;
  left: -30px;
}

.corner::after {
  content: '';
  border-top: 2px solid #9f449b;
  border-right: 2px solid #9f449b;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -35px;
}

/* Header */
.jumbotron {
  margin:0;
}

.jumbotron h1 {
  font-family: 'existencelight', sans-serif;
  font-weight: bold;
  margin-bottom: 7%;
  font-size: 4.125em;
}

#header,
#header a {
  color: #fff;
  text-align: center;
}

#header h2,
#header p {
  font-family: 'Lato-Hairline', sans-serif;
}

#header p {
  font-size: 1.25em;
  margin-bottom: 7%;
}

#header a {
  font-family: 'Lato-Regular', sans-serif;
  font-weight: bold;
}

.hexagon-scroller {
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

#header .icon {
  margin-bottom: 10%;
}

/* Navigation */
#navigation {
  padding-top: 2%;
}

.navbar-nav a,
#team p {
  font-family: 'Lato-Light';
  font-weight: bold;
}

.navbar {
  background: none; 
  border: none; 
}

.navbar-brand {
  font-family: 'existencelight', sans-serif;
  font-weight: bold;
  font-size: 1.437em;
}

#quate .hexagon,
#services .hexagon {
  padding: 5% 0;
}

/* Features*/
#features {
  background-color: #eee;
  text-align: center;
}

#features h3,
#features p {
  font-family: 'Lato-Light';
  font-weight: bold;
}

#features p {
  font-size: 0.75em;
  line-height: 1.8;
}

#features h3 {
  font-size: 1.125em;
}

/* About us */
#about h2,
#team h2,
#skills h2,
#portfolio h2,
#contact h2 {
  text-align: center;
  font-family: 'existencelight';
}

#about .container {
  position: relative;
}

#about button {
  position: absolute;
  bottom: 0;
}

#about .col-md-5 {
  position: static;
}

#about h2,
#team h2,
#skills h2,
#contact h2,
.hexagon-pointer {
  margin-bottom: 15%;
}

#about p {
  font-family: 'Lato-Light';
  font-weight: bold;
  line-height: 2;
}

#about img {
  width: 100%;
  height: auto;
}

/* Quate */
#quate,
#services {
  color: #fff;
  height: 100%;
  text-align: center;
}

#quate h2,
#services h2 {
  font-family: 'Lato-Light';
  margin-top: 5%;
}

/* Team */
#team {
  text-align: center;
}

#team .thumbnail {
  display: inline-block;
  margin-right: 10%;
}

#team .right {
  margin-right: 0;
}

.img-circle {
  height: 100%;
  width: 100%;
  background: #cdcdcd;
  padding-bottom: 85%;
  max-width: 170px;
  max-height: 170px;
}

#team h3 {
  font-size: 1em;
  font-family: 'Lato-Bold';
}

.social {
  padding-top: 4px;
  font-family: 'TitilliumWeb-Light', sans-serif;
  font-weight: bold;
  font-size: 1.7em;
  text-align: center;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 0 3% 0 0;
}

.hexagon-pointer {
  width: 40px;
  height: auto;
  display: inline-block;
  padding: 10px 0;
  color: #9f449b;
  font-size: 1.25em;
}

/* Skills */
#skills {
  padding-bottom: 10%;
}

.left h3,
.right h3 {
  display: inline-block;
}

.text-left {
  font-family: 'HelveticaNeueLTStd-BdCn';
}

.text-right {
  font-family: 'HelveticaNeueLTStd-Lt';
  float: right;
}

.progress {
  clear: both;
}

#skills .left {
  padding-right: 5%;
}

#skills .right {
  padding-left: 5%;
}

/* Services */
#services {
  padding-top: 10%;
}

/* Statistics */
#statistics {
  text-align: center;
  background: #eeeeee;
  font-family: 'HelveticaNeueLTStd-Lt';
}

#statistics li {
  margin: 0 40px 0 40px;
}

.progress-bar {
  background-color: #9f449b;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background: #eeeeee;
  padding-bottom: 100px;
}

#testimonials q {
  font-family: 'HelveticaNeueLTStd-Lt';
  font-size: 1.5em;
  display: block;
}

#testimonials p {
  font-family: 'HelveticaNeueLTStd-BdCn';
}

#testimonials q,
#testimonials p,
#testimonials ul {
  margin-top: 5%;
}

.list {
  display: inline-block;
  list-style-type: none;
}

.circle {
  border: 1px solid #000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.active-circle {
  background-color: #777777;
}

.circle-photo-placeholder::after {
  background: #aaaaaa;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  content: '';
  display: inline-block;
}

/* Portfolio */
#portfolio {
  text-align: center;
}

#portfolio h2,
.button-group {
  margin-top: 15%;
}

.button-group {
  margin-top: 10%;
  margin-bottom: 5%;
}

#roof {
  width: 70%;
  background: #fff;
  margin-top: -3%;
  margin-left: auto;
  margin-right: auto;
}

.button-group  button,
.btn-default:focus {
  display: inline-block;
  color: #000;
  border: 1px solid #ccc;
  background:#fff;
  padding: 5px 20px;
}

#portfolio .active,
.btn-default:hover,
.btn-primary:hover {
  background-color: #9f449b;
}

#portfolio .thumbnail {
  width: 270px;
  height: 270px;
  overflow: hidden;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

#portfolio img {
  width: 100%;
  height: 100%;
}

#portfolio .container {
  max-width: 90%;
}

#portfolio h4 {
  font-family: 'HelveticaNeueLTStd-Lt';
  font-size: 1.125em;
  font-weight: bold;
}

#portfolio p {
  font-family: 'HelveticaNeueLTStd-Lt';
}

#portfolio .btn-primery {
  margin-top: 5%;
}

/* Contact */
#contact p {
  font-family: 'HelveticaNeueLTStd-Lt';
  font-size: 1em;
}

#address p {
  font-family: 'HelveticaNeueLTStd-BdCn';
  font-size: 1.29em;
  margin-bottom: 0;
}

#text,
#address p:first-child,
#address p:nth-child(3) {
  margin-bottom: 7%;
}

.form-control {
  border-radius: 0;
  margin-bottom: 5%;
}

#textarea {
  resize: vertical;
}

/* Footer */
#footer {
  text-align: center;
  margin-bottom: 5%;
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
  #about button {
    position: static;
  }

  #skills .left,
  #skills .right {
    padding: 0;
  }
}