body,
ul,
img {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4.125em;
}

h2 {
  font-size: 2.312em;
  font-weight: bold;
}

p {
  font-size: 0.875em;
}

.thumbnail {
  background-color: transparent;
  border: none;
  margin: 0;
}

.thumbnail-icon {
  padding: 0 30px;
}

.btn {
  color: #fff;
  font-family: 'Lato-Light';
  font-size: 1em;
  font-weight: bold;
  border-bottom: 3px solid #6b2e68;
  background-color: #9f449b;
  padding: 12px 40px;
  opacity: 0.95;
}

.container {
  padding: 0;
}

.hexagon {
  width: 100%;
  height: auto;
  padding: 50px 0;
  margin: auto;
}

.brand {
  color:#9f449b;
}

.icon {
  height: 40px;
  margin-right: auto;
  margin-left: auto;
}
.corner {
  position: relative;
}

.corner::before {
  content: '';
  border-bottom: 2px solid #9f449b;
  border-left: 2px solid #9f449b;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 45px;
  left: -30px;
}

.corner::after {
  content: '';
  border-top: 2px solid #9f449b;
  border-right: 2px solid #9f449b;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -35px;
}

/* Header */
.jumbotron h1 {
  font-family: 'existencelight', sans-serif;
  font-weight: bold;
}

.jumbotron .container,
.container {
  max-width: 60%;
}

#header,
#header a {
  color: #fff;
  text-align: center;
}

#header h2,
#header p {
  font-family: 'Lato-Hairline', sans-serif;
}

#header p {
  font-size: 1.25em;
}

#header a {
  font-family: 'Lato-Regular', sans-serif;
  font-size: 0.875em;
  font-weight: bold;
}

.hexagon-scroller {
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

#header .icon {
  margin-bottom: 15px;
}

/* Navigation */
.navbar-nav a,
#team p {
  font-family: 'Lato-Light';
  font-weight: bold;
}

.navbar {
  background: none; 
  border: none; 
}

.navbar-brand {
  font-family: 'existencelight', sans-serif;
  font-weight: bold;
  font-size: 1.437em;
}

/* Features*/
#features {
  background-color: #eee;
  text-align: center;
}

#features h3,
#features p {
  font-family: 'Lato-Light';
  font-weight: bold;
}

#features p {
  font-size: 0.75em;
}

#features h3 {
  font-size: 1.125em;
}

/* About us */
#about h2,
#team h2,
#skills h2,
#portfolio h2,
#contact h2 {
  text-align: center;
  font-family: 'existencelight';
}

#about p {
  font-family: 'Lato-Light';
  font-weight: bold;
}

#about img {
  width: 100%;
  height: auto;
}

/* Quate */
#quate,
#services {
  color: #fff;
  height: 100%;
  text-align: center;
}

#quate h2,
#services h2 {
  font-family: 'Lato-Light';
}

/* Team */
#team {
  text-align: center;
}

.turnabout {
  display: inline-block;
}

.img-circle {
  height: 100%;
  width: 100%;
  background: #cdcdcd;
  padding-bottom: 85%;
  max-width: 170px;
  max-height: 170px;
}

#team h3 {
  font-size: 1em;
  font-family: 'Lato-Bold';
}

.social {
  padding-top: 7px;
  font-family: 'TitilliumWeb-Light', sans-serif;
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.hexagon-pointer {
  width: 40px;
  height: auto;
  display: inline-block;
  padding: 10px 0;
  color: #9f449b;
  font-size: 1.25em;
}

/* Skills */
.left h3,
.right h3 {
  display: inline-block;
}

/* Statistics */
#statistics {
  text-align: center;
  background: #eeeeee;
}

#statistics li {
  margin: 0 40px 0 40px;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background: #eeeeee;
  padding-bottom: 100px;
}

#testimonials q {
  font-family: 'HelveticaNeueLTStd-Lt';
  font-size: 1.5em;
}

#testimonials p {
  font-family: 'HelveticaNeueLTStd-BdCn';
}

.list {
  display: inline-block;
  list-style-type: none;
}

.circle {
  border: 1px solid #000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.circle-photo-placeholder::after {
  background: #cdcdcd;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  content: '';
  display: inline-block;
}

.progress-bar {
  background-color: #9f449b;
}

/* Portfolio */
#portfolio {
  text-align: center;
}

#roof {
  width: 70%;
  background: #fff;
  margin-top: -3%;
  margin-left: auto;
  margin-right: auto;
}

.button-group button {
  display: inline-block;
  color: #000;
  border: 1px solid #ccc;
  background:#fff;
  padding: 5px 20px;
}

#portfolio .thumbnail {
  width: 270px;
  height: 270px;
  overflow: hidden;
}

#portfolio img {
  width: 100%;
  height: 100%;
}

#portfolio .container {
  max-width: 90%;
}

#portfolio h4 {
  font-family: 'HelveticaNeueLTStd-Lt';
  font-size: 1.125em;
  font-weight: bold;
}

#portfolio p {
  font-family: 'HelveticaNeueLTStd-Lt';
}

/* Contact */
#contact p {
  font-family: 'HelveticaNeueLTStd-Lt';
  font-size: 1em;
}

#address p {
  font-family: 'HelveticaNeueLTStd-BdCn';
  font-size: 1.29em;
}

/* Footer */
#footer {
  text-align: center;
}

